:root {
  --grey-text: #595d60;
  --blue-text: #38bdbb;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #fff;
  background-color: #070e0e;
  font-family: Inter Tight, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-bottom: 0;
}

.section {
  width: 100%;
  max-width: 1920px;
  display: flex;
}

.nav {
  z-index: 8888;
  background-color: #1a1e1f;
  width: 100%;
  max-width: 265px;
  height: 100vh;
  padding: 60px 40px;
  position: sticky;
  top: 0;
}

.logo-link, .nav-menu {
  margin-bottom: 60px;
}

.nav-link {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #fff;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  transition: color .2s, background-color .2s;
  display: flex;
}

.nav-link:hover, .nav-link.w--current {
  color: var(--blue-text);
  background-color: #222a31;
}

.nav-link.last {
  margin-bottom: 0;
}

.embed-icon {
  margin-bottom: -2px;
}

.capitalize {
  text-transform: uppercase;
}

.teams-wrap {
  margin-top: 30px;
}

.teams-line {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  margin-bottom: 25px;
  display: flex;
}

.teams-block {
  background-color: #8f46ea;
  border-radius: 5px;
  width: 16px;
  height: 16px;
}

.teams-block.orange {
  background-color: #e27f0a;
}

.teams-link {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #fff;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  transition: color .2s;
  display: flex;
}

.teams-link:hover {
  color: var(--blue-text);
}

.content {
  width: 100%;
  padding: 40px;
}

.content-top {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
}

.heading-p {
  color: #595d60;
}

.mb-20 {
  margin-bottom: 20px;
}

.content-icons {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
  display: flex;
}

.link-icon {
  background-color: #161b1c;
  border: 1px solid #595d60;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: background-color .2s;
  display: flex;
}

.link-icon:hover {
  background-color: var(--grey-text);
}

.icon-img, .profile-img {
  border-radius: 50%;
}

.content-cards {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 80px;
  display: flex;
}

.card {
  background-color: #1a1e1f;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 340px;
  padding: 20px 30px;
  display: flex;
}

.card-heading {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  display: flex;
}

.design {
  background-color: #5f6161;
  border-radius: 5px;
  padding: 5px 10px;
}

.dots-link {
  padding: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.lines-wrap {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  display: flex;
}

.line {
  background-color: #5f6161;
  border-radius: 5px;
  width: 100%;
  height: 10px;
}

.line-fill {
  background-color: #e0e856;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.line-fill.half {
  width: 50%;
}

.line-fill._0 {
  width: 0%;
}

.card-icons {
  border: 1px solid #5f6161;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 3px 15px 3px 3px;
  display: flex;
}

.icons-images {
  align-items: center;
  display: flex;
}

.icon {
  border-radius: 50%;
}

.icon.ml {
  margin-left: -5px;
}

.date-wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  margin-bottom: 30px;
  display: flex;
}

.card-link {
  color: #000;
  background-color: #36bcba;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
}

.card-link:hover {
  background-color: #e3ea46;
}

.card-tasks {
  align-items: flex-end;
  display: flex;
}

.task {
  padding-left: 10px;
  padding-right: 10px;
}

.task.border {
  border-right: 1px solid #595d60;
}

.grey-p {
  color: var(--grey-text);
}

.task-cards {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.task-card {
  color: #000;
  text-align: center;
  background-color: #e3ea46;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 130px;
  display: flex;
}

.task-card.blue {
  background-color: #36bcba;
}

.task-card.orange {
  background-color: #f65606;
}

.mb-5 {
  margin-bottom: 5px;
}

.percent {
  color: var(--blue-text);
  background-color: #1e3835;
  border-radius: 20px;
  padding: 5px 10px;
}

.statistic {
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  display: flex;
}

.stat-line {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: var(--grey-text);
  grid-template-rows: auto;
  grid-template-columns: .25fr 1.5fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.statistic-line {
  background-color: var(--grey-text);
  height: 2px;
}

.statistic-wrap {
  position: relative;
}

.stat-percentages {
  justify-content: space-between;
  margin-left: 65px;
  display: flex;
}

.stat-fill {
  color: #000;
  background-color: #b8bbc6;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  height: 131px;
  padding-bottom: 10px;
  display: flex;
  position: absolute;
  bottom: 0;
}

.stat-fill.orange {
  background-color: #f65606;
  height: 159px;
  left: 50%;
}

.stat-fill.last {
  height: 140px;
  right: 0;
}

.table {
  margin-top: 40px;
  padding-bottom: 10px;
}

.table-line {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  border-bottom: 1px solid #595d604d;
  grid-template-rows: auto;
  grid-template-columns: minmax(150px, 1fr) minmax(200px, 1fr) minmax(104px, 1fr) minmax(120px, .25fr) minmax(100px, .5fr) minmax(110px, 110px);
  grid-auto-columns: 1fr;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
}

.table-line.first {
  color: var(--grey-text);
  border-top: 1px solid #595d604d;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-icon {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  display: flex;
}

.table-img {
  border-radius: 50%;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.table-stat {
  color: #f65606;
  background-color: #2c2314;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 25px;
  padding: 5px 20px;
  display: flex;
}

.table-stat.yellow {
  color: #e3ea46;
  background-color: #272f16;
  width: 80px;
}

.table-stat.blue {
  color: #36bcba;
  background-color: #132a29;
  width: 60px;
}

.table-link {
  color: #fff;
  background-color: #1a1e1f;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 35px;
  padding: 8px 13px;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
}

.table-link:hover {
  background-color: var(--blue-text);
}

.scroll {
  overflow: auto;
}

.mobile-nav, .shadow, .custom-css {
  display: none;
}

.disclaimer-section {
  z-index: 9999;
  color: #fff;
  background-color: #2a2a2a;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  padding: 40px 165px 40px 40px;
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  box-shadow: 0 0 20px #0000001a;
}

.disclaimer-h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
}

._2-button-wrap {
  grid-template-rows: auto;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.upload-button {
  background-color: var(--blue-text);
  color: #000;
  border: 1px #5045e6;
  border-radius: 5px;
  padding: 15px 60px;
  font-size: 17px;
  transition: opacity .2s;
}

.upload-button:hover {
  opacity: .7;
}

.close-icon {
  color: #fff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  top: 40px;
  right: 40px;
  overflow: hidden;
}

.input-wrapper {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.social-btn {
  color: #000;
  border: 1px solid #dcdce5;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 40px 12px 15px;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  transition: border-color .2s, box-shadow .2s;
  position: relative;
  box-shadow: 0 1px 2px #dcdce580;
}

.social-btn:hover {
  box-shadow: none;
  border-color: #374252;
}

.social-btn:focus {
  border: 1px solid #000;
}

.social-btn::placeholder {
  color: #6e6e6e;
}

.social-btn.google {
  box-shadow: none;
  color: #fff;
  border-color: #606060;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.social-btn.google:hover {
  border-color: #4285f4;
}

.hide {
  display: none;
}

.log-in__content {
  text-align: center;
  width: 100%;
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
}

.social-image {
  width: 24px;
}

.show-password {
  color: #989fb2;
  background-color: #000;
  padding: 0 7px 0 6px;
  font-size: 13.5px;
  display: flex;
  bottom: -1px;
}

.show-password.w--current {
  display: none;
}

.social-content {
  grid-column-gap: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.show-password-wrap {
  z-index: 4;
  position: absolute;
  inset: 18px 3% auto auto;
}

.form-label {
  color: #fff;
  font-weight: 500;
}

.full-section {
  background-color: #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 100px 5%;
  display: flex;
}

.log-in__h {
  color: #fff;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 34px;
  font-weight: 600;
}

.form-block-3 {
  margin-bottom: 0;
}

.or-new {
  color: #fff;
  text-align: center;
  margin: 0 10px;
}

.eye-svg {
  justify-content: center;
  align-items: center;
  width: 16px;
  margin-right: 4px;
  display: flex;
}

.form-input {
  color: #fff;
  background-color: #000;
  border: 1px solid #606060;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 400;
  transition: box-shadow .2s;
}

.form-input:focus {
  border-color: #49bfff;
}

.form-input::placeholder {
  color: #8f93a3;
}

.show-hide-code {
  display: none;
}

.or-wrap {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.gray-line {
  background-color: #d3d3d35e;
  flex: 1;
  height: 1px;
}

.mb-24 {
  margin-bottom: 24px;
}

.form-container {
  text-align: left;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
  display: flex;
  position: relative;
}

.social-text {
  font-weight: 500;
}

.ms-iframe {
  z-index: 2147483647;
  justify-content: flex-end;
  align-items: flex-end;
  height: 70px;
  display: flex;
  position: fixed;
  inset: auto auto 0% 0%;
}

.ms-iframe-embed {
  justify-content: flex-end;
  align-items: flex-end;
  width: 180px;
  height: 70px;
  display: flex;
  position: relative;
  overflow: visible;
}

.hidden-embed {
  z-index: -1;
  opacity: 0;
  height: 0;
  max-height: 0;
  position: fixed;
}

.ms-iframe-footer-embed {
  background-color: #d1e7fb;
  background-image: url('../images/noise.png');
  background-position: 0 0;
  background-size: 200px;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 350px;
  margin-bottom: 0;
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .section {
    flex-direction: column;
  }

  .nav {
    border-left: 1px solid var(--grey-text);
    height: auto;
    display: none;
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
  }

  .nav-wrap {
    width: 100%;
  }

  .content {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .content-icons {
    display: none;
  }

  .content-icons.mobile {
    flex-direction: row-reverse;
    display: flex;
  }

  .link-icon {
    width: 45px;
    height: 45px;
  }

  .icon-img {
    width: 50px;
  }

  .content-cards {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 40px;
    display: grid;
  }

  .stat-percentages {
    margin-left: 55px;
  }

  .table {
    width: 170vw;
  }

  .mobile-nav {
    z-index: 99999;
    border-bottom: 1px solid var(--grey-text);
    background-color: #070e0e;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    position: sticky;
    top: 0;
  }

  .hamburger {
    cursor: pointer;
    width: 40px;
  }

  .hamburger-line {
    background-color: #fff;
    height: 3px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .hamburger-line.mid {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .shadow {
    z-index: 998;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #0000004d;
    display: none;
    position: fixed;
    inset: 0%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 35px;
  }

  .content-cards {
    grid-template-columns: 1fr;
  }

  .stat-percentages {
    margin-left: 80px;
  }

  .table {
    width: 210vw;
  }

  .log-in__h {
    font-size: 30px;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 25px;
  }

  .content {
    padding-top: 20px;
  }

  .content-top {
    margin-bottom: 20px;
  }

  .icon-img {
    width: 40px;
  }

  .content-cards {
    grid-template-columns: 1fr;
  }

  .card {
    padding-left: 20px;
    padding-right: 20px;
  }

  .task-cards {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .stat-percentages {
    margin-left: 60px;
  }

  .table {
    width: 300vw;
    margin-top: 20px;
  }

  .log-in__h {
    font-size: 28px;
  }

  .form-input {
    width: 100%;
  }
}

#w-node-_329df2cd-07c9-a0cb-2c39-3485369f4e74-d57c5a6f, #w-node-_202b274c-1d56-d1dc-9dc5-dea9132de420-d57c5a6f, #w-node-_6c929c75-c359-a244-5098-25d31bb2e155-d57c5a6f, #w-node-b2b8abea-dce1-2b13-1592-964291f9132d-d57c5a6f {
  align-self: end;
}

#w-node-c448709a-d486-ee39-fea2-4f09e2223c40-d57c5a6f {
  align-self: center;
}

#w-node-c448709a-d486-ee39-fea2-4f09e2223c42-d57c5a6f {
  place-self: center start;
}

#w-node-c448709a-d486-ee39-fea2-4f09e2223c47-d57c5a6f {
  place-self: center end;
}

#w-node-_7df0fea0-828c-38e7-e99f-faee06f7b83d-d57c5a6f, #w-node-dad3d81a-9dbf-1a4a-01d6-1b83e234ac8d-d57c5a6f {
  align-self: center;
}

#w-node-dad3d81a-9dbf-1a4a-01d6-1b83e234ac8f-d57c5a6f {
  place-self: center start;
}

#w-node-dad3d81a-9dbf-1a4a-01d6-1b83e234ac91-d57c5a6f {
  place-self: center;
}

#w-node-dad3d81a-9dbf-1a4a-01d6-1b83e234ac94-d57c5a6f {
  align-self: center;
}

#w-node-dad3d81a-9dbf-1a4a-01d6-1b83e234ac96-d57c5a6f {
  place-self: center end;
}

#w-node-_0f8196a7-2fbd-a7db-c537-90b53a3aec0b-d57c5a6f {
  align-self: center;
}

#w-node-_0f8196a7-2fbd-a7db-c537-90b53a3aec0d-d57c5a6f {
  place-self: center start;
}

#w-node-_0f8196a7-2fbd-a7db-c537-90b53a3aec0f-d57c5a6f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center end;
}

#w-node-_0f8196a7-2fbd-a7db-c537-90b53a3aec12-d57c5a6f {
  align-self: center;
}

#w-node-_0f8196a7-2fbd-a7db-c537-90b53a3aec14-d57c5a6f {
  place-self: center end;
}

#w-node-_08fd90c7-49f7-5c9a-9b61-42d4d939097c-d57c5a6f, #w-node-_08fd90c7-49f7-5c9a-9b61-42d4d939097e-d57c5a6f {
  align-self: center;
}

#w-node-_08fd90c7-49f7-5c9a-9b61-42d4d9390980-d57c5a6f {
  place-self: center end;
}

#w-node-_08fd90c7-49f7-5c9a-9b61-42d4d9390983-d57c5a6f {
  align-self: center;
}

#w-node-_08fd90c7-49f7-5c9a-9b61-42d4d9390985-d57c5a6f {
  place-self: center end;
}

#w-node-_38692404-288d-e481-6570-2c7b004cffef-d57c5a71, #w-node-_38692404-288d-e481-6570-2c7b004cfff3-d57c5a71, #w-node-_38692404-288d-e481-6570-2c7b004cfff7-d57c5a71, #w-node-_38692404-288d-e481-6570-2c7b004cfffb-d57c5a71 {
  align-self: end;
}

#w-node-_38692404-288d-e481-6570-2c7b004d000f-d57c5a71 {
  align-self: center;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0011-d57c5a71 {
  place-self: center start;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0013-d57c5a71 {
  place-self: center end;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0015-d57c5a71, #w-node-_38692404-288d-e481-6570-2c7b004d001c-d57c5a71 {
  align-self: center;
}

#w-node-_38692404-288d-e481-6570-2c7b004d001e-d57c5a71 {
  place-self: center start;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0020-d57c5a71 {
  place-self: center;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0023-d57c5a71 {
  align-self: center;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0025-d57c5a71 {
  place-self: center end;
}

#w-node-_38692404-288d-e481-6570-2c7b004d002d-d57c5a71 {
  align-self: center;
}

#w-node-_38692404-288d-e481-6570-2c7b004d002f-d57c5a71 {
  place-self: center start;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0031-d57c5a71 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center end;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0034-d57c5a71 {
  align-self: center;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0036-d57c5a71 {
  place-self: center end;
}

#w-node-_38692404-288d-e481-6570-2c7b004d003e-d57c5a71, #w-node-_38692404-288d-e481-6570-2c7b004d0040-d57c5a71 {
  align-self: center;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0042-d57c5a71 {
  place-self: center end;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0045-d57c5a71 {
  align-self: center;
}

#w-node-_38692404-288d-e481-6570-2c7b004d0047-d57c5a71 {
  place-self: center end;
}


